<div style="margin: 10px;">
  <form>
    <div class="row">
      <div class="col-3">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col-3">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
      <div class="col-3">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
      <div class="col-3">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col-3">
        <input type="button" class="btn btn-primary" value="搜索">
      </div>
    </div>
  </form>
</div>
<div class="opeater" style="margin: 10px;">
  <div class="btn-group btn-group-lg" role="group" aria-label="...">
    <button type="button" class="btn btn-default">添加</button>
    <button type="button" class="btn btn-default">按钮</button>
    <button type="button" class="btn btn-default">按钮</button>
  </div>
</div>
<ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
