<div class="header" style="height: 70px">
  <ul class="left">
    <li><a href="#">首页</a></li>
    <li><a href="#">介绍</a></li>
    <li><a href="#">联系我们</a></li>
  </ul>
  <ul class="right">
    <li><a routerLink="/login">登录</a></li>
    <li><a href="#">注册</a></li>
  </ul>
</div>

<div class="container-fluid">
  <div class="row" style=" height: 700px;background-color:blue">
    <div class="col">

    </div>
  </div>
  <div class="row" style=" height: 700px;background-color:red">
    <div class="col">

    </div>
  </div>
  <div class="row" style=" height: 700px;background-color:yellow">
    <div class="col">

    </div>
  </div>
</div>

<div class="footer">
  <p>© 2017-2017 XXXXXX公司 版权所有 </p>
</div>
